{% extends 'learning_logs/base.html' %}

{% block page_header %}
  <h3>{{ topic }}</h3>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        {% if message.tags == message.success %}
          <li class="{{ message.success }}">{{ message }}</li>
        {% else %}
          <li class="{{ message.info }}">{{ message }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endblock page_header %}


{% block content %}
  <p><a href="{% url 'learning_logs:new_entry' topic.id %}">Add new entry</a></p>

  {% for entry in entries %}
    <div class="card mb-3">
        <h4 class="card-header">
            {{ entry.date_added|date:'M d, Y H:i' }}
            <small><a href="{% url 'learning_logs:edit_entry' entry.id %}">
                edit entry</a></small>
        </h4>
        <div class="card-body">
            {{ entry.text|linebreaks }}
        </div>
    </div>
  {% empty %}
    <p>There are no entries for this topic yet.</p>
  {% endfor %}

  {% include 'pagination.html' with page=entries %}
{% endblock content %}